<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicacion paises</h1>
      <p class="mb-5">
        Este es un ejemplo de una aplicacion de paises, con la cual se pueden buscar paises por su capital, 
        por su nombre o por su region. Esta aplicacion esta hecha con Angular y Tailwind CSS, y es un ejemplo 
        de como se pueden hacer aplicaciones con Angular y Tailwind CSS de forma sencilla y
      </p>
      <button routerLink="/country" class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>

